<footer
	class="container  text-center mt-5">

	<!-- Copyright -->
	<p class="text-muted">
		<small>
			&copy;{{'now'|date('Y')}}
			&middot;
																																																																																																																													Built with
			<span class="text-danger">&hearts;</span>by
			<a href="https://teachersdunet.com">Loick GOHOUEDE</a>
		</small>


	</p>
</footer>
<!-- Footer -->
